@model IEnumerable<TrainingApp.Models.Log>
<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "Log Page";
}

@*View - Logs*@

@foreach (var item in Model)
{
    <div class="log-record">
        <div class="log-record-header">
            @Html.DisplayFor(modelItem => item.Header)
        </div>
        <div class="log-record-review">
            @Html.DisplayFor(modelItem => item.Review)
        </div>
        <div class="log-record-workout">
            @Html.DisplayFor(modelItem => item.Workout)
        </div>
    </div>
}

@Html.Partial("CreateLog", new TrainingApp.Models.Log())