@model IEnumerable<TrainingApp.Models.Log>

@{
    ViewBag.Title = "Log Page";
}

@*View - Logs*@

@foreach (var item in Model)
{
    <div>
        <em>Header</em>
        @Html.DisplayFor(modelItem => item.Header)
    </div>

    <div>
        <em>Review</em>
        @Html.DisplayFor(modelItem => item.Review)
    </div>
}

@Html.Partial("CreateLog", new TrainingApp.Models.Log());